.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}

.goog-te-combo {
  background: #0000000d;
  padding: 6px;
  border-radius: 2px;
}

.skiptranslate {
  display: none !important;
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
  background-color: transparent !important;
  box-shadow: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}
